__pycache__/
*.py[cod]
*.so
.git/
.gitmodules
.github/
.venv/
.idea/
.vscode/
notebooks/
data/
**/.DS_Store
backend/.venv/
frontend/node_modules/
frontend/.next/
front_end_arbnb/node_modules/
front_end_arbnb/.next/
models/*.ipynb
